.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.centered {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-table {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
  width: 70%;
}

.input-field {
  width: 128px;
}

.select-field {
  width: 186px;
}